.jumbotron {
	color: white;
	opacity: 0.95;
	background-color: #232B2B;
	background-size: 100%;
	max-width: 100%;
	text-indent: 40%;
}
body { 
	margin-bottom: 30px;
	background-image: url(https://runningreluctant.files.wordpress.com/2015/04/runners-diverse.jpg?h=900);
	max-width: 100%
}
#login-nav input { margin-bottom: 15px }
.thumbnail {
	background-color: white;
	opacity: 0.85;
	max-height: 100%;
	max-width: 100%
}
.container-fluid {
	height: 100%
}
#prime_nav {
	max-width: 100%;
	background-color: #7ABAB1
}
#post_form {
	background-color: white
}
#auth_form {
	background-color: white
}
#map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
