<!DOCTYPE html>
<html>
<head>
  <title>WeGetF.it</title>
  <meta charset="utf-8" />
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- jQuery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
  <!-- Underscore -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../CSS/main.css">
  <script src="../Javascripts/home.js"></script>
</head>
<body>
  <div class="jumbotron">
      <h1>WeGetF.it</h1>
      <p>a community-based fitness app</p>
</div>
<!-- Nav bar with all features of website on bottom -->
   <div class="row">
      <div class="col-md-12">
         <nav class="navbar navbar-default navbar-fixed-bottom" id="prime_nav" role="navigation">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
               <form class="navbar-form navbar-left" role="search">
                  <div class="form-group">
                     <input type="text" class="form-control" placeholder="Zip Code">
                  </div>
                  <button type="submit" class="btn btn-default">Submit</button>
               </form>
               <ul class="nav navbar-nav navbar-right">
                  <li class="dropdown">
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown">Post <b class="caret"></b></a>
                     <ul class="dropdown-menu" style="padding: 15px;min-width: 250px;">
                        <li>
                           <div class="row">
                              <div class="col-md-12">
                                 <form class="form" role="form" method="post" action="#" accept-charset="UTF-8" id="event-form">
                                    <div class="form-group">
                                       <label class="sr-only" for="place-input">Place</label>
                                       <input type="text" class="form-control" id="place-input" name='place' placeholder="Location" required>
                                    </div>
                                    <div class="form-group">
                                       <label class="sr-only" for="time-input">Time</label>
                                       <input type="text" class="form-control" id="time-imput" name='time' placeholder="Time" required>
                                    </div>
                                    <div class="checkbox">
                                       <label>
                                       <input type="checkbox"> Running
                                       </label>
                                    </div>
                                    <div class="checkbox">
                                       <label>
                                       <input type="checkbox"> Cycling
                                       </label>
                                    </div>
                                    <div class="checkbox">
                                       <label>
                                       <input type="checkbox"> Tenis
                                       </label>
                                    </div>
                                    <div class="form-group">
                                       <button type="submit" class="btn btn-success btn-block">Add event</button>
                                    </div>
                                 </form>
                              </div>
                           </div>
                        </li>
                     </ul>
                  </li>
               </ul>
            </div>
         </nav>
      </div>
   </div>
  <!-- main content: event thumb group -->
  <div class="container-fluid">
        <div class="row" id="render-group">
        </div>
  </div>
</body>
  <!-- Underscore templates -->
  <script type="text/template" id="events-template">
    <% _.each(collection, function(item){ %>
      <!-- thumbnail for each item -->
      <div class="col-lg-3 col-md-4 col-xs-6 thumb">
      <a class="thumbnail" href="#">
      <%= item.place %>
        <!-- label for definiton -->
        <span class="label label-default"><%= item.time%></span>
        
        <div class="buttons">
          <!-- delete button w/ registered onclick function -->
          <button data-id="<%= item._id %>" onclick="Events.delete(this)" type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        </a>
      </div>
    <% }); %>
  </script>
</html>